*.pyc
.idea
.DS_Store
.swap
machine_tasks*
Thumbs.db
bin/
obj/
.vscode/
db.json
.idea/
submit*
~$*.xlsx

knapsack_deploy*
init_deploy*
machine*
analyse*

data/scheduling_preliminary_b*
data/b.csv
data/b0.csv

./lower_bound
search-result/search_*
search
main

*.exe