*.pyc
.idea
.DS_Store
.swap
machine_tasks*
Thumbs.db
bin/
obj/
.vscode/
db.json
.idea/
submit*
~$*.xlsx

knapsack_deploy*
init_deploy*
machine*
analyse*

data/*.csv

main

*.exe
go/test/*
debug
*/.vs/*
search-result/
**/target/
