*.pyc
.idea
.DS_Store
.swap
machine_tasks*
Thumbs.db
bin/
obj/
.vscode/
db.json
.idea/
submit*
~$*.xlsx

knapsack_deploy*
init_deploy*
machine*
analyse*

data/*.csv

*.exe
go/test/*
debug
*/.vs/*
search-result/
**/target/
judge.jar

data/scheduling_semifinal_data_20180815/
csharp/tianchi.sln.DotSettings.user
